<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">PRODUCTS</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="look/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul>
          <dl><a href="#">Website Hosting</a></dl>
          <dl><a href="#">Free Automated Wordpress</a></dl>
          <dl><a href="#">Migrations</a></dl>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">COMPANY</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="look/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul>
          <dl><a href="#">About</a></dl>
          <dl><a href="#">Affilitate</a></dl>
          <dl><a href="#">Blog</a></dl>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="look/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul>
          <dl><a href="#">Contact</a></dl>
          <dl><a href="#">Knowledge Base </a></dl>
          <dl><a href="#">FQA</a></dl>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">DOMAINS</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="look/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul>
          <dl><a href="#">Domain Checker</a></dl>
          <dl><a href="#">Domain Transfer </a></dl>
          <dl><a href="#">Free Domain</a></dl>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="look/logo.svg" alt="" />
      <p class="footer__copyright">Copyright 2024 Favour Uchechukwu</p>
    </section>
  </div>
</footer>
