<section class="block container">
  <header class="block__header">
    <h2>Host On The Cloud To Keep Growing</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
      facilis.
    </p>
  </header>
  <article class="grid grid--cols-3 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="look/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy To Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam rerum
        quisquam corporis suscipit eveniet nisi placeat esse distinctio at
        blanditiis!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="look/webp"
        srcset="look/easy.webp 1x, look/easy@2x.webp 2x" />
      <source type="look/jpg" srcset="image/easy.jpg 1x, ima/easy@2x.jpg 2x" />
      <img class="feature__image" src="look/easy.webp" alt=""
    /></picture>
  </article>
</section>
<section class="block__container">
  <article class="grid grid--cols-3 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="look/sprite.svg#growth"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam rerum
        quisquam corporis suscipit eveniet nisi placeat esse distinctio at
        blanditiis!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="look/webp"
        srcset="look/fast.webp 1x, look/fast@2x.webp 2x" />
      <source
        type="look/jpg"
        srcset="image/fast.jpg 1x, image/fast@2x.jpg 2x" />
      <img class="feature__image" src="look/fast.webp" alt=""
    /></picture>
  </article>
</section>

<section class="block container">
  <article class="grid grid--cols-3 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="look/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Wordpress Made Easy</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam rerum
        quisquam corporis suscipit eveniet nisi placeat esse distinctio at
        blanditiis!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="look/webp"
        srcset="look/wordpress.webp 1x, look/wordpress@2x.webp 2x" />
      <source
        type="look/jpg"
        srcset="image/wordpress.jpg 1x, image/wordpress@2x.jpg 2x" />
      <img class="feature__image" src="look/wordpress.webp" alt=""
    /></picture>
  </article>
</section>
